<form class="d-inline" method="post" action="{{ path('materieltype_delete', {'id': materieltype.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materieltype.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
