{% extends 'base.html.twig' %}

{% block title %}Edit Technicien{% endblock %}

{% block body %}
    <h1>Edit Technicien</h1>

    {{ include('technicien/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('technicien_index') }}">back to list</a>

    {{ include('technicien/_delete_form.html.twig') }}
{% endblock %}
